version: '3.5'
services:
 
  ui:
    stdin_open: true
    build: ./ui
    image: eportfolio-react-ui-img
    container_name: react-ui
    restart: always
    ports:
      - '3000:3000'
    volumes:
      - ./server/uploads:/usr/src/uploads
      - ./.sslCerts:/usr/src/app/.sslCerts

volumes:
  uploads:
    external: true
