version: '3.5'
services:
 
 
  ui:
    stdin_open: true
    build: ./ui
    ports:
      - '3000:3000'
    depends_on:
      - server

  mongo:
      image: mongo:latest
      container_name: eportfolio-mongodb
      ports:
        - "27017:27017"
      volumes:
      - ./data_db:/data/db
      networks:
        - ePortfolio_nw

  server:
      build:
        context: server
        dockerfile: Dockerfile
      image: eportfolio-nodeserver-img
      container_name: node-express
      ports:
        - "8080:8080"
      depends_on:
        - mongo
      env_file: server/.env
      networks:
        - ePortfolio_nw

networks:
  ePortfolio_nw:
    driver: bridge
volumes:
  data_db:
    external: true
