
header{
  margin-bottom: 70px;
}

body {
  background-color: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.copyright{
  color: grey;
}

.mr-auto img{
  width: 9vmax; 
  height: 2.5vmax;
}

.d-inline-block, .align-top{
  width: 9vmax;
  height: 2.5vmax;
} 

.text-center, .font-size-15px{
  color: black;
}