
header{
  margin-bottom: 70px;
}

body {
  background-color: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow: visible;
}

.copyright{
  color: grey;

}

.profile-footer > .profile-nav{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.qr-code{
  display: flex;
  align-self: center;
  justify-content: center;
}
