@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
*{box-sizing: border-box;}

.basic-info{
  margin-top: 0vmax;
  margin-bottom:5vmax;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;

}

.basic-info > h1 {
  line-height: 2;
}

#row-special {
  margin-top: 2vmax;
}

#col-special1 {
  text-align: center;
}

#row-special > img{
  height: "20vmax"; 
  width: "20vmax";
}

#col-special2 {
  background-color: rgba(180,180,180,0.5); 
  border: 2px solid black; 
  border-radius: 15px;
} 
.carousel-item > img {
  display: block;
  width: 100%;
  height: 1vmax;

}
.cover-image {
  position: relative;
  margin-top: 56px;
  margin-bottom: 0px;

  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3{
  font-family: 'Kavoon', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 1.8em;
}

p{
  line-height: 2em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;

}

.highlighted-documents{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7vmax;
  margin-bottom: 5vmax;

}

.highlighted-documents > Row {
  margin-bottom: 3vmax;
}

.card {
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}

.card-body{
  background-color: rgba(180,180,180,0.5);
  height: 5vmax;
}
