@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
*{box-sizing: border-box;}

.basic-info{
  margin-top: 40px;
  margin-bottom:80px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0px;

}

.carousel-item > img {
  display: block;
  width: 100%;
  height: 25vmaxpx;

}
.cover-image {
  position: relative;
  margin-top: 56px;
  margin-bottom: 20px;

  margin-left: 5%;
  margin-right: 5%;
}

h1, h2, h3{
  font-family: 'Kavoon', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

p{
  line-height: 2em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: white;
  text-align: center;
}

.cover-image> .carousel-item > img{
  display: block;
  width: 100%;
  height: 40%;

}
