@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
*{box-sizing: border-box;}
.basic-info{
  margin-top: 0vmax;
  margin-bottom:5vmax;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;

}
.cover-image {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
}

.cover-image > .carousel{
  width: 90%;
}
.carousel-item > img {
  display: block;
  width: 100%;
  height: 20vmax;

}


h1, h2, h3{
  font-family: 'Kavoon', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 1.8em;
}

p{
  line-height: 2em;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  color: white;

}

.highlighted-documents{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 7vmax;
  margin-bottom: 5vmax;

}

/*.card {
  background-color: rgba(0,0,0,0);
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  width: 70vw;
}

.card-body{
  background-color: rgba(180,180,180,0.5);
  height: 5vmax;
  width: 70vw;
}*/

.welcome-sign{
  line-height: 2;
  font-family: 'Kavoon', cursive;
  font-size: 3.85em;
  text-align: center;
  color: white;
}
.bioinfo{
  background-color: rgba(180,180,180,0.5);
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 1.25em;
  color: white;
}
