.page-fill{
  height: 87vmin;
  width: 100%;
}
.register{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 2vmax;
  width: 40vmax;
  padding: 1.5vmax;
}
.register-form > h3{
  text-align: center;
  font-size: 1.75em;
  color: black;
  margin-bottom: 2vmax;
}
.register-form > .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-form > .row  {
  display: flex;
  justify-content: flex-start;
}
.register-form > .row > .col > .alert{

}

.register-form > .form-group
{

}
