.outline { 
    position: relative; 
    width: 70vw;
    height: 30vh; 
    top: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.left {
    background-color: #d9b382;
}

.right {
    background-color: #F5F5DC;
}

.imgOutline {
    position: relative;
    top: 24%;
    width: 6.5vw;
    height: 17vh;
}

.leftImg {
    left: 10%;   
}

.heading { 
    position: relative;
    left: 20%;
    bottom: 15vh; 
    font-size: 2vh;
}

.desc {
    position: relative;
    left: 20%;  
    bottom: 15vh; 
    font-size: 2.5vh;
    width: 60%;
}

.misc {
    position: relative;
    left: 20%;
    bottom: 15vh; 
    font-size: 2vh;
}


.rightImg {
    left: 80%;
}
