version: '3.5'
services:
  
  mongo:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
    - ./MongoDB/mongodata:/data/db
    networks:
      - ePortfolio_nw
  
  server:
    build:
      context: .
      dockerfile: Dockerfile
    image: eportfolio-nodeserver-img
    container_name: node-express
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    #env_file: server/.env
    volumes:
    - ./uploads:/usr/src/uploads
    - ./.sslCerts:/usr/src/app/.sslCerts
    networks:
      - ePortfolio_nw
        
networks:
  ePortfolio_nw:
    driver: bridge
volumes:
  uploads:
    external: true
