@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
.manage-cover-image{
  position: relative;
  margin-top: 56px;
  margin-bottom: 2%;

  margin-left: 5%;
  margin-right: 5%;


}
.manage-basic-info{
  margin-top: 0vmax;
  margin-bottom:5vmax;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;

}
.carousel-item > img {
  display: block;
  width: 100%;
  height: 23vmax;
}


.carousel-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fileupload{
  position: relative;
}

.docUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.profileUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.imageUpload{

  display: block;
  background-image: url('../../Image/bioContentBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Kavoon', cursive;
  color: white;
  line-height: 3.5em;
  width: 100%;
  height: 21vmax;
}

.document-arena{
  margin-top: 5vmax;
  margin-bottom: 5vmax;
  text-align: center;
}
