@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
*{box-sizing: border-box;}
.manage-cover-image{
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;


}
.welcome-sign{
  line-height: 2;
  font-family: 'Kavoon', cursive;
  font-size: 3.85em;
  text-align: center;
  color: white;
}


.manage-cover-image > .carousel{
  width: 90%;
}

.carousel-item > img {
  display: block;
  width: 100%;
  height: 20vmax;
}

.carousel-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.manage-basic-info{
  margin-top: 0vmax;
  margin-bottom:5vmax;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;

}

.fileupload{
  position: relative;
}

.docUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.profileUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.bioinfo{
  background-color: rgba(180,180,180,0.5);
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  font-size: 1.25em;
  color: white;
  padding-top: 0.5vmax;
  padding-bottom: 1vmax;
}

.document-arena{
  margin-top: 5vmax;
  margin-bottom: 5vmax;
  text-align: center;
}
.upload-doc-input{
  margin-top: 15vmax;
  margin-bottom: 10vmax;
}

.upload-doc-input > .row{
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
