@import url('https://fonts.googleapis.com/css2?family=Kavoon&family=Roboto:wght@300&display=swap');
.manage-cover-image{
  position: relative;
  margin-top: 56px;
  margin-bottom: 2%;

  margin-left: 5%;
  margin-right: 5%;


}

.manage-cover-image > .carousel-item > input,
.manage-basic-info > .manage-basic-info-row > .column1 > input, 
.document-arena > #BtnBrowseHidden {
  display: none;
}

.manage-cover-image > .carousel-item > img {
  height: 20vmax;
  width: 20vmax;
}

.manage-basic-info{
  margin-top: 0vmax;
  margin-bottom:5vmax;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px;

}

.manage-basic-info > .manage-basic-info-row{
  margin-top: 2vmax;
}

.manage-basic-info > .manage-basic-info-row > .column1 {
  text-align: center;
}

.manage-basic-info > .manage-basic-info-row > .column1 > img {
  height: 20vmax;
  width: 20vmax;
}
.manage-basic-info > .manage-basic-info-row > .column2 {
  background-color: rgba(180,180,180,0.5);
  border: 2px solid black;
  border-radius: 15px;
}


.carousel-item > img {
  display: block;
  width: 100%;
  height: 22vmax;

}


.carousel-item {
  margin-top: 0px;
  margin-bottom: 0px;
}

.fileupload{
  position: relative;
}

.docUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.profileUpload{
  background-color: darkcyan;
  height: 1.5em;
  width: 10em;
  line-height: 1.5em;
  text-align: center;
  color: white;
  font-size: 1.2em;
}

.imageUpload{

  display: block;
  background-image: url('../../Image/bioContentBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Kavoon', cursive;
  color: white;
  line-height: 3.5em;
  width: 100%;
  height: 21vmax;
}

.document-arena{
  margin-top: 5vmax;
  margin-bottom: 5vmax;
  text-align: center;
}

.document-arena > h2 {
  margin-bottom: 3vmax;
}

.document-arena-row > .column1 {
  text-align: center;
  margin-top: 15vmax;
  margin-bottom: 10vmax;
}

.document-arena-row > .column1 > img {
  height: 20vmax;
  width: 15vmax;
  background-color: rgba(200,200,200,0.4);
}

.document-arena-row > Container {
  overflow:scroll; 
  height:45rem;
}

.document-arena-row > #column1 {
  text-align: center;
}

#row-do {
  margin-top: 3vmax;
}