# This is a basic workflow to help you get started with Actions

name: CD

on:
  push:
    branches: [ live ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v2

      - name: Restart Application
        run: ./restart-ui.sh && ./restart-express.sh
